{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!--==============================================
              Styles Block
=================================================-->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--==============================================
              Content block
=================================================-->
    {% block content %}

<!--==============================================
              Search Bar
=================================================-->
    <div class="container">
        <form class="search">
            <input type="text" name="movie_query" placeholder="Search" class="form-control">
            <input type="submit"  value="Submit" class="btn btn-primary">
        </form>
    </div>
<!--==============================================
              Popular Movies
=================================================-->
    <div class="container">
        <h3> Popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>
    </div>
<!--==============================================
              Upcoming Movies
=================================================-->
    <div class="container">
        <h3> Upcoming Movies </h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
    </div>
<!--==============================================
              Now Showing
=================================================-->
    <div class="container">
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
    </div>


    {% endblock%}




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head> -->


<!-- </body>
</html> -->